# Logs
logs
*.log*

# Dependency directories
node_modules

# Test output
tests

# Documentation
doc

# Docker build
build
.dockerignore
Vagrantfile

# MAC
.DS_Store

# App-specific

# ESLINT
.eslintignore
.eslintrc
.prettierrc

.vscode
